<h2>My products</h2>
<div>
  <ul>
    <app-single-product class="list-group" *ngFor="let item of list" [name]="item.name" [type]="item.type" (delete)="deleteItem($event)"></app-single-product>
  </ul>
</div>

<div class="text-right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add new product</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputName1">Product Name</label>
            <input type="text" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" #name>
          </div>
          <div class="form-group">
            <label for="exampleInputType1">Product Type</label>
    <input type="text" class="form-control" id="exampleInputType1" #type>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changeList(name.value,type.value)">Add</button>
      </div>
    </div>
  </div>
</div>


